:root {
    --font-title-color: #2E2F42;
    --font-color: #434455;
    --color-logo: #4d5ae5;
    --color-hover: #404bbf;
    --colot-fon-white: #fff;
    --color-fon: #F4F4FD;
    --color-btn-hover: #404BBF;
}

/*util text-decoration: none*/
.link {
    text-decoration: none;
}

/*util none point*/
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*util letter-spacing*/
.space {
    letter-spacing: 0.02em;

}

/*global font, size, color */
body {
    margin: 0;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    color: var(--font-color);
    letter-spacing: 0.02em;

}

/*global container with 1128px*/
.container {
    width: 1128px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;

    outline: 1px solid tomato;
}

/*global button without color*/
.btn {
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: "Roboto", sans-serif
}

/*global section*/
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/*global section title*/
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11em;
    color: var(--font-title-color);
    text-align: center;
    text-transform: capitalize
}

/*global h3 about for us, out team, our works*/
.about-title,
.team-title,
.works-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    color: var(--font-title-color);
}

/*global for p*/
.text {
    margin: 0;
    font-size: 16px;
    color: var(--font-color);
}

.container.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav.wrapper {
    display: flex;
    align-items: center;
}
/*logo*/
.logo {
    margin-right: 76px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-logo);
}

.logo span {
    color: var( --font-title-color);
}

/*nav*/
.site-nav {
    display: flex;
}

.site-nav .item {
    margin-right: 40px;
    display: inline-block;
}

.site-nav .item:last-child {
    margin-right: 0;

}

.site-nav a {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    color: var(--font-title-color);
}

.adr {
    font-style: normal;
}

.site-adr {
    display: flex;

    outline: 1px solid tomato;
}

.site-adr .item {
    margin-right: 40px;
}

.site-adr .item:last-child {
    margin-right: 0;
}

.site-adr a {
    color: var(--font-color);
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--color-hover);
}

.site-adr a:hover,
.site-adr a:focus {
    color: var(--color-hover);
}

/*hero*/
.hero {
    background: var(--font-title-color);
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07em;
    color: var(--colot-fon-white);
}

/*button color page studio*/
.btn-primary {
    padding: 16px 32px;
    border: 1px solid transparent;
    color: var(--colot-fon-white);
    background: var(--color-logo);
}

.btn-primary:hover,
.btn-primary:focus {
    background: var(--color-btn-hover);
}

/*button color page portfolio*/
.btn-second {
    color: var(--color-logo);
    background: var(--color-fon);
}

.btn-second:hover,
.btn-second:focus {
    background: var(--color-btn-hover);
    color: var(--colot-fon-white);
}

/*about list*/
.about {
    display: flex;
}

.about-title {
    margin-top: 0;
    margin-bottom: 8px;
}

.about .item {
    width: calc((100% - 72px) / 4);
    margin-right: 24px;
}

.about .item:last-child {
    margin-right: 0;
}

/*out team*/
.background {
    background: var(--color-fon);
}

/*footer*/
.footer {
    background: var(--font-title-color);
}

.footer .footer-text {
    color: var(--color-fon);
}